<div class="min-h-screen bg-gray-100 flex justify-center items-center py-20">
    <div class="container mx-auto px-4 md:px-8 bg-gray-100 rounded-xl">
        <h1 class="text-4xl uppercase font-bold from-current mb-8"><%= t('.h1')%></h1>
        <!-- Search form-->
        <%= form_tag(businesses_path, method: :get, class:"flex flex-col my-6 md:flex-row") do %>
            <%= text_field_tag('search[name]', "", class:" w-full h-12 px-4 mb-3 rounded-md shadow-md md:rounded-tl-md md:rounded-bl-md md:rounded-r-none transition duration-200 bg-white border border-gray-300 md:border-r-0 appearance-none md:mb-0 focus:border-pink-600 focus:outline-none focus:shadow-outline", placeholder:"Popular treatments: hair, manicure, pedicure, massage...", required: true) %>
            <%= collection_select(:search, :city_name, City.order(:name), :name, :name, {prompt: "City"},{class:"border border-gray-300 shadow-md rounded-md md:rounded-l-none h-12 px-4 mb-3 text-gray-500 bg-white text-sm focus:outline-none focus:border-pink-600 ease-linear transition-all duration-150", required: true}) %>
            <%= button_tag( type: "submit", class: "inline-flex items-center justify-center h-12 px-6 md:ml-4 rounded-md shadow-md font-medium tracking-wide text-pink-600 bg-pink-200 transition duration-200 hover:bg-pink-300 focus:shadow-outline focus:outline-none") do %>
                Search
            <% end %>
        <% end %>

        <!-- Box-1 -->
        <div class="grid sm:grid-cols-2 sm:gap-4 lg:grid-cols-3 lg:gap-8 space-y-4 sm:space-y-0">
            <% if @businesses.empty? %>
                <h1 class="text-xl font-gray-700 font-bold m-2"><%= t('.empty_h1')%></h1>
            <% end %>
            <% @businesses.each do |business|%>
                <div class="bg-white rounded-md shadow-md hover:shadow-lg transform transition duration-500 hover:scale-105 flex flex-col items-stretch">
                    <%= image_tag business.images.first, class:"object-cover w-full h-full rounded-tl-md rounded-tr-md", style: 'height: 250px; max-height: 250px;', alt:"salon image"%>
                    <div class="px-4 pt-4">
                        <h1 class="text-xl font-gray-700 font-bold mb-2"> <%= business.name%> </h1>
                        <div class="flex items-center mb-2">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 text-pink-600 bg-pink-200 rounded-full mr-1 py-1 px-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                                </svg>
                            </span>
                            <h3 class="text-lg text-gray-600 font-semibold ml-1"><%= business.city.name %></h3>
                        </div>
                        <div class="flex items-center mb-2">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 text-pink-600 bg-pink-200 rounded-full mr-1 py-1 px-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
                            </svg>
                            </span>
                            <h3 class="text-lg text-gray-600 font-semibold ml-1"><%= business.phone_number %></h3>
                        </div>
                        <p class="text-md tracking-normal mb-2"><%= business.description[0, 100] %>...</p>
                    </div>
                    <%= link_to business_path(business), class:"text-pink-600 py-2 mt-auto mb-2 focus:outline-none hover:text-pink-700 text-lg px-4 pb-2" do %>
                        <%= t('.see_btn') %>
                        <svg class="inline-block w-3 ml-2" fill="currentColor" viewBox="0 0 12 12">
                            <path d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"></path>
                        </svg>
                    <% end %>
                </div>
            <% end %>
        </div>
        <div class="grid place-items-center">
            <%== pagy_nav(@pagy) unless @businesses.empty? %>
        </div>
    </div>
</div>