<%= form_with(model: [:dashboard, business, appointment]) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :client_name %>
    <%= form.text_field :client_name %>
  </div>

  <div class="field">
    <%= form.label :client_email %>
    <%= form.text_field :client_email %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :treatment_id %>
    <%= form.collection_select :treatment_id, @business.treatments, :id, :name, {prompt: "Treatment"} , {required: true, class:"border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring focus:ring-pink-600 w-full ease-linear transition-all duration-150"} %>

  </div>

  <div class="actions">
    <% if @appointment.persisted? %>
    <%= form.submit "Update Appointment", class: "btn btn-primary" %>
  <% else %>
    <%= form.submit "Create Appointment", class: "btn btn-primary" %>
  <% end %>
  </div>
<% end %>
