<h1>Appointments</h1>

<%= link_to 'New Appointment', new_dashboard_appointment_path %>

<%= week_calendar(events: @appointments) do |date, appointments| %>
  <%= date.strftime('%b %d') %>

  <% appointments.each do |appointment| %>
    <div class="px-2 py-1 rounded-lg mt-1 overflow-hidden border border-green-200 text-green-800 bg-green-100">
      <%= link_to(appointment.time_name, edit_dashboard_appointment_path(appointment), class:"text-sm truncate leading-tight" ) %>
    </div>
  <% end %>
<% end %>
<%# Upcoming appointmets section %>
<div class="md:py-8 py-5 md:px-16 px-5 dark:bg-gray-700 bg-gray-50 rounded-b">
  <h3 class="text-2xl font-semibold mb-2">Upcoming appointments</h3>
  <% @upcoming_appointments.each do |appointment| %>
    <div class="px-4 lg:flex justify-between">
        <div class="border-b pb-4 border-gray-400 border-dashed">
            <p class="text-xs font-light leading-3 text-gray-500 mt-2">Start time: <%= appointment.start_time %></p>
            <a tabindex="0" class="focus:outline-none text-lg font-medium leading-5 text-gray-800 mt-2">Treatment type: <%= appointment.treatment.name %></a>
            <p class="text-sm pt-2 leading-4 leading-none text-gray-600 dark:text-gray-300">Client name: <%= appointment.client_name %></p>
        </div>
        <div>
          <%= link_to("Show", dashboard_appointment_path(appointment), class:"text-lg truncate leading-tight" ) %>
        </div>
    </div>
  <% end %>
</div>