<h2 class="font-bold text-2xl mb-6 text-gray-800 border-b pb-2">Appointments for <%= @business.name %></h2>
 <div>
        <%= link_to new_dashboard_business_appointment_path, class:"text-pink-500 py-2 mt-auto mb-2 focus:outline-none hover:text-pink-600 text-lg pb-2" do %>
          Add new appointment
          <svg class="inline-block w-3 ml-2" fill="currentColor" viewBox="0 0 12 12">
            <path d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"></path>
          </svg>
      <% end %>
      </div>

<%= week_calendar(events: @appointments) do |date, appointments| %>
  <%= date.strftime('%b %d') %>

  <% appointments.each do |appointment| %>
    <div class="px-2 py-1 rounded-lg mt-1 overflow-hidden border border-green-200 text-green-800 bg-green-100">
      <%= link_to(appointment.time_name, edit_dashboard_business_appointment_path(appointment, business_id: appointment.business_id), class:"text-sm truncate leading-tight" ) %>
    </div>
  <% end %>
<% end %>
<%# Upcoming appointmets section %>
<h3 class="text-xl font-semibold mt-4">Upcoming appointments</h3>
<div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
  <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
    <table class="min-w-full leading-normal">
      <thead>
        <tr>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-200 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            Title
          </th>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-200 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            Client name
          </th>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-200 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            Client email
          </th>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-200 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            Date
          </th>
          <th
            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-200 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
            Treatment
          </th>
        </tr>
      </thead>
      <tbody>
        <% @upcoming_appointments.each do |appointment| %>
        <tr>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            <p class="text-gray-900 whitespace-no-wrap">
              <%= appointment.title %>
            </p>
          </td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            <p class="text-gray-900 whitespace-no-wrap">
              <%= appointment.client_name %>
            </p>
          </td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            <p class="text-gray-900 whitespace-no-wrap">
              <%= appointment.client_email %>
            </p>
          </td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            <p class="text-gray-900 whitespace-no-wrap">
              <%= appointment.start_time.strftime('%b %e %R') %> - <%= appointment.end_time.strftime('%R')%>
            </p>
          </td>
          <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
            <p class="text-gray-900 whitespace-no-wrap">
              <%= appointment.treatment.name %>
            </p>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>