<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @appointment.title %>
</p>

<p>
  <strong>Client name:</strong>
  <%= @appointment.client_name %>
</p>

<p>
  <strong>Client email:</strong>
  <%= @appointment.client_email %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @appointment.start_time %>
</p>

<p>
  <strong>Treatment:</strong>
  <%= @appointment.treatment_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @appointment.user_id %>
</p>

<%= link_to 'Edit', edit_dashboard_business_appointment_path(@appointment, business_id: @appointment.business_id) %> |
<%= link_to 'Back', dashboard_business_appointments_path %>
