<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
    <div class="flex flex-col mb-6 sm:text-center">
      <div class="max-w-xl md:mb-10 md:mx-auto sm:text-center lg:max-w-2xl">
        <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">
          <%= t('.h2') %>
        </h2>
        <p class="text-base text-gray-700 md:text-lg">
          <%= t('.p1') %>
        </p>
      </div>
    </div>
  </div>
  <section class="text-gray-600 body-font relative">
    <div class="lg:w-7/12 md:w-2/3 mx-auto">
      <%= form_with url: "/create_contact", scope: :contact, class:"p-4" do |f|%>
        <div class="flex flex-wrap -m-2">
          <div class="p-2 w-full md:w-1/2 mb-4">
              <div class="relative md:text-center">
                  <%= f.label :full_name, t('.name'), class: "block uppercase text-gray-600 text-sm font-bold mb-2" %>
                  <%= f.text_field :full_name, required: true, class: "input w-full bg-white placeholder-gray-300 rounded border border-gray-300 shadow-md focus:ring-2 focus:ring-pink-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out", placeholder:"Enter your name"%>
                  <%= field_has_error(:full_name, @contact)%>
              </div>
          </div>
          <div class="p-2 w-full md:w-1/2 mb-4">
              <div class="relative md:text-center">
                  <%= f.label :email, t('.email'), class: "block uppercase text-gray-600 text-sm font-bold mb-2"%>
                  <%= f.email_field :email, required: true, class: "email w-full bg-white placeholder-gray-300 rounded border border-gray-300 shadow-md focus:ring-2 focus:ring-pink-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out", placeholder:"Enter your email"%>
                  <%= field_has_error(:email, @contact)%>
              </div>
          </div>
          <div class="p-2 w-full mb-4">
              <div class="relative md:text-center">
                  <%= f.label :message, t('.message'), class: "block uppercase text-gray-600 text-sm font-bold mb-2"%>
                  <%= f.text_area :message, required: true, class: "textarea w-full bg-white placeholder-gray-300 rounded border border-gray-300 shadow-md focus:ring-2 focus:ring-pink-500 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out", placeholder:"Please type your message here and we will get to you ASAP"%>
                  <%= field_has_error(:message, @contact)%>
              </div>
          </div>
          <div class="p-2 w-full">
              <%= f.submit t('.contact_us'), class: "flex mx-auto text-pink-600 bg-pink-200 shadow-md py-2 px-8 focus:outline-none hover:bg-pink-300 rounded text-lg" %>
          </div>
        </div>
      <% end %>

        <div class="flex flex-wrap -m-2">
          <div class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center">
            <%= mail_to "contact@beautycircle.com", "contact@beautycircle.com", class:"text-gray-500" %>
              <p class="leading-normal my-5"><%= t('.address1') %>
                <br><%= t('.address2') %>
              </p>
            <span class="inline-flex">
             <%= link_to "https://www.facebook.com/", class:"text-gray-500" do %>
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              <% end %>
              <%= link_to "https://www.twitter.com/", class:"ml-4 text-gray-500" do %>
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                </svg>
              <% end %>
              <%= link_to "https://www.instagram.com/", class:"ml-4 text-gray-500" do %>
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                      <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                      <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                  </svg>
              <% end %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>