 <%= form_with model: [:dashboard, @business] do |f|%>
    <h6 class="text-gray-400 text-sm mt-3 mb-6 font-bold uppercase">
        General Information
    </h6>
    <div class="flex flex-wrap">
        <div class="w-full px-4">
            <div class="relative w-full mb-3">
                <label class="block uppercase text-gray-600 text-xs font-bold mb-2" htmlfor="grid-password">
                    Name
                </label>
                <%= f.text_field :name, required: true, class:"border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring focus:ring-pink-600 w-full ease-linear transition-all duration-150", placeholder:'Name of your business'%>
            </div>
        </div>
        <div class="w-full px-4">
            <div class="relative w-full mb-3">
                <label class="block uppercase text-gray-600 text-xs font-bold mb-2" htmlfor="grid-password">
                    Description
                </label>
                <%= f.text_area :description, required: true, rows:6, class:"border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring focus:ring-pink-600 w-full ease-linear transition-all duration-150", placeholder:'What type of business(hair salon, nail bar, spa, etc), how many years in business, provided services and promotions'%>
                </div>
        </div>
    </div>

    <hr class="mt-6 border-b-1 border-gray-300">

    <h6 class="text-gray-400 text-sm mt-3 mb-6 font-bold uppercase">
        Location
    </h6>
    <div class="flex flex-wrap">
        <div class="w-full px-4">
            <div class="relative w-full mb-3">
                <label class="block uppercase text-gray-600 text-xs font-bold mb-2" htmlfor="grid-password">
                    Address
                </label>
                <%= f.text_field :address, required: true, class:"border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring focus:ring-pink-600 w-full ease-linear transition-all duration-150", placeholder:'Address of your business'%>
            </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
            <div class="relative w-full mb-3">
                <label class="block uppercase text-gray-600 text-xs font-bold mb-2" htmlfor="grid-password">
                    City
                </label>
                <%= f.collection_select :city_id, City.order(:name), :id, :name, {prompt: "City"} , {required: true, class:"border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring focus:ring-pink-600 w-full ease-linear transition-all duration-150"} %>
            </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
            <div class="relative w-full mb-3">
                <label class="block uppercase text-gray-600 text-xs font-bold mb-2" htmlfor="grid-password">
                    Country
                </label>
            <%= f.text_field :country, required: true, class:"border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring focus:ring-pink-600 w-full ease-linear transition-all duration-150", placeholder:'Country'%>
            </div>
        </div>
    </div>
    <hr class="mt-6 border-b-1 border-gray-300">

    <h6 class="text-gray-400 text-sm mt-3 mb-6 font-bold uppercase">
        Hours
    </h6>
    <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4">
            <div class="relative w-full mb-3">
                <label class="block uppercase text-gray-600 text-xs font-bold mb-2" htmlfor="grid-password">
                    Opening time
                </label>
            <%= f.text_field :open_hour, required: true, class:"border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring focus:ring-pink-600 w-full ease-linear transition-all duration-150", placeholder:'10:00 am'%>
            </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
            <div class="relative w-full mb-3">
                <label class="block uppercase text-gray-600 text-xs font-bold mb-2" htmlfor="grid-password">
                    Closing time
                </label>
            <%= f.text_field :close_hour, required: true, class:"border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring focus:ring-pink-600 w-full ease-linear transition-all duration-150", placeholder:'8:00 pm'%>
            </div>
        </div>
    </div>
    <hr class="mt-6 border-b-1 border-gray-300">
    <h6 class="text-gray-400 text-sm mt-3 mb-6 font-bold uppercase">
        Contact and socials
    </h6>
    <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4">
            <div class="relative w-full mb-3">
                <label class="block uppercase text-gray-600 text-xs font-bold mb-2" htmlfor="grid-password">
                    Phone number
                </label>
            <%= f.text_field :phone_number, required: true, class:"border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring focus:ring-pink-600 w-full ease-linear transition-all duration-150", placeholder:'077-777-777'%>
            </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
            <div class="relative w-full mb-3">
                <label class="block uppercase text-gray-600 text-xs font-bold mb-2" htmlfor="grid-password">
                    Email
                </label>
            <%= f.text_field :email, required: true, class:"border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring focus:ring-pink-600 w-full ease-linear transition-all duration-150", placeholder:'info@business.com'%>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap mb-4">
        <div class="w-full lg:w-6/12 px-4">
            <div class="relative w-full mb-3">
                <label class="block uppercase text-gray-600 text-xs font-bold mb-2" htmlfor="grid-password">
                    Facebook url
                </label>
            <%= f.text_field :facebook_url, class:"border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring focus:ring-pink-600 w-full ease-linear transition-all duration-150", placeholder:'https://www.facebook.com/'%>
            </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
            <div class="relative w-full mb-3">
                <label class="block uppercase text-gray-600 text-xs font-bold mb-2" htmlfor="grid-password">
                    Instagram url
                </label>
            <%= f.text_field :instagram_url, class:"border-0 px-3 py-3 placeholder-gray-300 text-gray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring focus:ring-pink-600 w-full ease-linear transition-all duration-150", placeholder:'https://www.instagram.com/'%>
            </div>
        </div>
    </div>
    <!-- Treatments section -->
    <div class="rounded-t bg-white mb-0 px-6 py-6">
        <div class="text-center flex justify-between">
            <h6 class="text-gray-700 text-xl font-bold">
            Treatments
            </h6>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-pink-600" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M15.707 4.293a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 011.414-1.414L10 8.586l4.293-4.293a1 1 0 011.414 0zm0 6a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L10 14.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
        </div>
    </div>
    <div data-controller="nested-form">
        <template data-target="nested-form.template">
            <%= f.fields_for :treatments, Treatment.new, child_index: 'NEW_RECORD' do |treatment| %>
                <%= render "treatments/treatment_fields", form: treatment %>
            <% end %>
        </template>

        <%= f.fields_for :treatments do |treatment| %>
            <%= render "treatments/treatment_fields", form: treatment %>
        <% end %>

        <div class="mb-3" data-target="nested-form.links">
            <%= link_to "Add treatment", "#", class: "btn btn-outline-primary", data: { action: "click->nested-form#add_association" } %>
        </div>
    </div>

    <div class="text-center w-full px-4">
        <%= button_tag type:'submit', class:"justify-center items-center text-pink-600 w-1/2 mx-auto max-w-sm rounded-md text-center bg-pink-200 py-2 px-4 inline-flex items-center focus:outline-none" do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>Submit
        <% end %>
    </div>
<% end %>


